@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Noto+Sans+JP:wght@100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: black;
  font-family: "Fraunces", serif;
}

html {
  overflow-x: hidden;
  font-size: 18px;
}

body {
  width: 100vw;
  height: 100vh;
}

p {
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

header {
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  height: 100%;
  z-index: 100;
  background-image: url(https://image.noelshack.com/fichiers/2024/16/1/1713135777-image-header.jpg);
  background-position: center;
  background-size: cover;
  text-align: center;
  justify-content: center;
  color: white;

  figcaption {
    position: absolute;
    top: 20%;
    h2 {
      font-size: 4rem;
      color: white;
      margin-bottom: 15%;
    }
  }

  nav {
    display: flex;
    width: 100%;
    margin-bottom: auto;
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;

    h1 {
      color: white;
      font-size: 1.8rem;
      font-family: "Barlow", sans-serif;
    }

    ul {
      list-style: none;
      word-spacing: 2rem;
      margin-left: auto;

      li {
        display: inline-block;

        a {
          color: white;
        }

        button {
          background-color: white;
          border: none;
          width: 8vw;
          height: 6vh;
          border-radius: 18px;
          a {
            font-size: 1rem;
            color: black;
            font-weight: bold;
            font-family: "Barlow", sans-serif;
          }
        }

        svg {
          display: none;
        }
      }
    }
  }
}

main {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  overflow: hidden;

  section {
    flex-direction: column;
    display: flex;
    align-items: center;
    align-self: center;

    figure {
      display: flex;
      width: 100%;
    }
    h1 {
      margin-bottom: 5%;
      font-weight: bold;
      width: 60%;
      font-size: 2.5rem;
      text-align: left;
    }

    &:nth-child(4) {
      h1 {
        width: 80%;
        margin-left: 20%;
      }
    }

    p {
      width: 60%;
    }

    a {
      margin-top: 6%;
      width: 20%;
      margin-right: 40%;
      text-transform: uppercase;
      position: relative;
      &::after {
        content: "";
        position: absolute;
        left: -4%;
        bottom: -1px;
        width: 90%;
        height: 8px;
        background: #fff1bd;
        border-radius: 15px;
        z-index: -1;
      }
      &:nth-child(3)::after {
        content: "";
        position: absolute;
        left: -4%;
        bottom: -1px;
        width: 90%;
        height: 8px;
        background: #fad9d2;
        border-radius: 15px;
        z-index: -1;
      }
    }
  }

  #profile-container {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    width: 100vw;
    padding: 20%;
    flex-direction: row;

    h4 {
      position: absolute;
      margin-top: 5%;
      left: 38%;
      margin-bottom: 38%;
      font-size: 1.3rem;
      text-transform: uppercase;
      letter-spacing: 0.3rem;
      color: #adadad;
    }
    #card-profile {
      margin-top: 10%;
      flex-direction: column;
      height: auto;
      display: flex;
      text-align: center;
      align-items: center;

      img {
        width: 90px;
        height: 90px;
        border-radius: 50%;
      }

      p {
        margin-top: 15%;
        width: 80%;
        line-height: 1.8rem;
        color: #999b9e;
      }
      h2 {
        margin-top: 20%;
        margin-bottom: 5%;
        font-size: 1.2rem;
      }

      strong {
        font-size: 0.8rem;
        color: #c9c9c9;
      }
    }
  }

  #cherry-background {
    background-image: url(https://image.noelshack.com/fichiers/2024/16/1/1713135853-image-graphic-design.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      margin-top: 50%;
      margin-bottom: 4%;
      font-size: 1.8rem;
      color: #23574b;
    }

    p {
      margin-bottom: 10%;
      width: 50%;
      color: #23574b;
    }
  }
  #orange-background {
    background-image: url(https://image.noelshack.com/fichiers/2024/16/1/1713135823-image-photography.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      margin-top: 50%;
      margin-bottom: 4%;
      text-align: center;
      font-size: 1.8rem;
      color: #1a5069;
    }

    p {
      margin-bottom: 10%;
      width: 50%;
      margin-left: 25%;
      color: #1a5069;
    }
  }
}

img {
  width: 100%;
  height: 100%;
}

#grid-25-25-25-25 {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  width: 100%;
}

footer {
  display: flex;
  align-content: center;
  text-align: center;
  background-color: #90d4c5;
  flex-direction: column;
  word-spacing: 20px;

  section {
    h1 {
      color: #2a7564;
      font-size: 2rem;
      margin-top: 3%;
      margin-bottom: 2%;
    }

    a {
      margin-bottom: 5%;
      color: #2a7564;
    }

    svg {
      margin-top: 3%;
      color: #2a7564;
    }
  }
}

@media screen and (max-width: 767px) {
  header {
    figcaption {
      h2 {
        font-size: 3.1rem;
      }
    }
    nav {
      ul {
        margin-right: 5%;
        li {
          margin-top: 10%;
          a {
            display: none;
          }
          button {
            display: none;
          }
          svg {
            display: block;
          }
        }
      }
    }
  }

  main {
    display: flex;
    flex-direction: column;

    section {
      display: flex;

      h1 {
        text-align: center;
        width: 100%;
        margin-top: 20%;
      }

      &:nth-child(4) h1 {
        width: 100%;
        margin-right: 20%;
      }

      p {
        text-align: center;
        width: 90%;
      }

      a {
        text-align: center;
        margin-left: 35%;
        width: 40%;
        margin-bottom: 20%;

        &::after {
          content: "";
          position: absolute;
          left: 15px;
          bottom: -1px;
          width: 80%;
          height: 8px;
          background: #fff1bd;
          border-radius: 15px;
          z-index: -1;
        }

        &:nth-child(3)::after {
          content: "";
          position: absolute;
          left: 15px;
          bottom: -1px;
          width: 80%;
          height: 8px;
          background: #fad9d2;
          border-radius: 15px;
          z-index: -1;
        }
      }
    }

    section:nth-child(2) {
      order: -1; /* Mettre la deuxième section avant la première */
    }

    section:nth-child(3) figure {
      order: -1; /* Mettre la figure dans la troisième section avant le texte */
    }
  }

  #orange-background {
    background-image: url(/assets/photos/image-photography.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    figcaption {
      h3 {
        align-self: center;
        text-align: center;
        justify-content: center;
        align-items: center;
      }
    }
  }

  #profile-container {
    flex-direction: column !important;
    align-items: stretch;
    text-align: center;

    h4 {
      left: 1% !important;
      width: 100% !important;
    }

    article {
      margin-top: 60% !important;
    }
  }

  #grid-25-25-25-25 {
    display: grid;
    grid-template-columns: 50% 50%;
  }
}
